<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email"
             matInput
             placeholder="Your email"
             ngModel
             name="email"
             email
             formControlName="email"
             required
      >
      <mat-error>Error</mat-error>
    </mat-form-field >
    <mat-form-field hintLabel="Please enter your password">
      <input type="password"
             matInput
             placeholder="Your password"
             ngModel
             name="password"
             formControlName="password"
             minlength="6"
             required
      >
      <mat-error>Invalid password</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Log In</button>
  </form>
</section>
