mat-form-field {
  width: 300px;
}
.login-form {
  padding-top: 20px;
  height: calc(100vh - 84px);
  background-image: url("../../../assets/images/bg-run.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
form {
  background: white;
  height: 300px;
  opacity: 0.8;
}
.btn {
  background-color: blue;
  color: #ffffff;
  border: none;
  height: 30px;
  border-radius: 4px;
  padding: 10px;
  font-size: 11px;
}
.btn:hover {
  opacity: 0.85;
  cursor: pointer;
}
