<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm">
    <mat-form-field>
      <input type="email"
             matInput
             placeholder="Your email"
             ngModel
             name="email"
             email
             formControlName="email"
             required
             style="color: green"
      >
      <mat-error>Error</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Please enter your password">
      <input type="password"
             matInput
             placeholder="Your password"
             ngModel
             name="password"
             formControlName="password"
             minlength="6"
             required
             style="color: green"
      >
      <mat-error>Invalid password</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" type="button" (click)="onSubmit()" mat-raised-button color="primary"
            [disabled]="loginForm.invalid">Log In
    </button>
    <div class="form-group">
      <span type="button" *ngIf="!(isLoading$ | async)" class="btn btn-block" (click)="signInWithFacebook()">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Login with Facebook
      </span>
    </div>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
