.new-training {
  padding: 30px;
  height: calc(100vh - 113px);
  background-image: url("../../../assets/images/bg-init.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.start {
  max-height: 210px;
  opacity: 0.85;
}
