.current-training {

  padding-top: 20px;
  height: calc(100vh - 64px);
  background-image: url("../../../assets/images/bg-c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
