<div class="welcome" >
  <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="25px" fxLayoutAlign="center top" >
    <section>
      <h1>ACTIVITY</h1>
      <p>Stay active and enjoy better health and more fun!</p>
    </section>
    <section>
      <h1>COMMUNITY</h1>
      <p>Get to know other people who share your passion!</p>
    </section>
    <section>
      <h1>CHALLANGES</h1>
      <p>Never stop! Dive into new challanges every day</p>
    </section>
  </div>
  <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="25px" fxLayoutAlign="center top" >
    <section>
      <h1>START NOW!</h1>
      <p>Start to do exercises</p>
      <button *ngIf="isAuth$ | async" mat-raised-button color="primary" (click)="start()" >Start</button>
    </section>
    <section>
      <h1>ADD YOUR EXERCISES</h1>
      <p>Add the exercises you'd like doing</p>
      <button *ngIf="isAuth$ | async" mat-raised-button color="primary" (click)="exercise()">Go to add</button>
    </section>
  </div>
</div>
