.welcome {
  text-align: center;
  height: calc(100vh - 64px);
  padding-top: 60px;
}

section {
  height: 100px;
  background: #fafafa;
  padding: 20px;
  color: darkolivegreen;
  box-shadow: black 0 0 79px 0;
}
